<header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </header>

    <body>
        {% comment %} 부트스트랩을 활용하여 손쉽게 만들기 {% endcomment %}
        <div class="container">
            <form action="{% url 'reservation:update' reservation.id %}">
                <div class="input-group mb-3" style="width:21em;">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">장비 예약</label>
                </div>
                <select name="equipment_type" value="{{reservation.equipment_type}}" class="custom-select" id="inputGroupSelect01">
                    <option>예약할 장비를 선택해주세요.</option>
                    {% if reservation.equipment_type == "Hood"%}
                        <option selected value="Hood">후드</option>
                    {% else %}
                        <option value="Hood">후드</option>
                    {% endif %}

                    {% if reservation.equipment_type == "Chiller" %}
                        <option selected value="Chiller">칠러</option>
                    {% else %}
                        <option value="Chiller">칠러</option>
                    {% endif %}

                    {% if reservation.equipment_type == "Press" %}
                        <option selected value="Press">핫프레스</option>
                    {% else %}
                        <option value="Press">핫프레스</option>
                    {% endif %}
                    {% if reservation.equipment_type == "Dsc" %}
                        <option selected value="Dsc">Dsc</option>
                    {% else %}
                        <option value="Dsc">Dsc</option>
                    {% endif %}
                    {% if reservation.equipment_type == "Gpc" %}
                        <option selected value="Gpc">Gpc</option>
                    {% else %}
                        <option value="Gpc">Gpc</option>
                    {% endif %}
                    {% if reservation.equipment_type == "Utm" %}
                        <option selected value="Utm">Utm</option>
                    {% else %}
                        <option value="Utm">Utm</option>
                    {% endif %}
                    {% if reservation.equipment_type == "Crosslinker" %}
                        <option selected value="Crosslinker">Crosslinker</option>
                    {% else %}
                        <option value="Crosslinker">Crosslinker</option>
                    {% endif %}
                </select>
                </div>
                <div class="input-group flex-nowrap" style="width:21em;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">예약날짜</span>
                    </div>
                    <input type="date" name="equipment_date" value="{{reservation.equipment_date}}" class="form-control" placeholder="연도-월-일" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="{{min_date}}" max="{{max_date}}">
                </div>

                <div class="input-group flex-nowrap" style="width:21em;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">시작시간</span>
                    </div>
                    <input type="time" name="equip_start_time" value="{{reservation.equip_start_time}}" class="form-control" placeholder="오전 09:00" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="09:00" max="17:30">
                </div>

                <div class="input-group flex-nowrap" style="width:21em;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">종료시간</span>
                    </div>
                    <input type="time" name="equip_finish_time" value="{{reservation.equip_finish_time}}" class="form-control" placeholder="오후 09:00" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="09:30" max="18:00">
                </div>

                <button type="submit" class="btn btn-danger">예약</button>
            </form>
        </div>
    </body>