{% extends 'base.html' %}
{% load static %}
{% block script %}

    <link rel=icon href="{% static 'reservation/tmdlogo.png' %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/eab0835984.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <main>
        <section id="chart">
            <div class="chart_div" onclick="goNewHood()" style="cursor:pointer;">
                <canvas id="chart_1" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewChiller()" style="cursor:pointer;">
                <canvas id="chart_2" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewPress()" style="cursor:pointer;">
                <canvas id="chart_3" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewDsc()" style="cursor:pointer;">
                <canvas id="chart_4" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewGpc()" style="cursor:pointer;">
                <canvas id="chart_5" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewUtm()" style="cursor:pointer;">
                <canvas id="chart_6" width="7vw" height="7vh"></canvas>
            </div>
            <div class="chart_div" onclick="goNewCrosslinker()" style="cursor:pointer;">
                <canvas id="chart_7" width="7vw" height="7vh"></canvas>
            </div>

        </section>
        <section id="mypage">
            <a href="#"><button id="btn_mypage">나의 예약 현황</button></a>
        </section>
        <section id="main_post">
            <div class="main_notice main_post_item">
                <h4><a href="#">장비 공지사항</a></h4>
                <ul>
                    {% for notice in notices %}
                        <li><a href="{% url 'detail' notice.id %}">{{notice}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="main_board main_post_item">
                <h4><a href="#">장비 분실물</a></h4>
                <ul>
                    {% for lost in losts %}
                    <li><a href="{% url 'detail' lost.id %}">{{lost}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <img src="{% static 'reservation/tmdlogo.jpeg' %}" alt="footer_logo" />
        <span class="contact" style="font-size:x-large; color:inherit ;">
                <a href="https://open.kakao.com/o/srtwxB0d" target="_blank" style="color:white;"><i class="far fa-comment"></i></a>
                <a href="https://www.tmdlab.com/#/w/ko/home" target="_blank" style="color:white;">티엠디랩</a>

        </span>
        <p>티엠디랩 Tel: 02-6216-0080</p>
        <p>만든사람 <span style="font-size: medium;"><a target="_blank" style="color:white; text-decoration: none;" href="https://github.com/MCprotein">신윤수</a></span></p>
        <p class="copyright">Copyright(c) SYS. All rights reserved.</p>
    </footer>
    <script src="{% static 'reservation/main.js' %}"></script>
    <script>
        $(function() {
            var msg = "{{msg}}";
            if(msg != ""){
                alert(msg);
            }
        });

        // New 페이지 이동
        function goNew1A(){
            location.href="/reservation/new/1A";
        }
        function goNew1B(){
            location.href="/reservation/new/1B";
        }
        function goNew3A(){
            location.href="/reservation/new/3A";
        }
        //chart
        var pro_1A = {{proportion}}[0];
        var pro_1B = {{proportion}}[1];
        var pro_3A = {{proportion}}[2];
        new Chart(document.getElementById("chart_1"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        '후드',
                    ],
                    "datasets":[
                        {   
                            "data":[pro_1A, 12],
                            "backgroundColor":["rgba(255, 205, 86)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        },
                    ]
                }
            });
        new Chart(document.getElementById("chart_2"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        '칠러',
                    ],
                    "datasets":[
                        {
                            "data":[pro_3A, 12],
                            "backgroundColor":["rgba(54, 162, 235)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
        new Chart(document.getElementById("chart_3"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        '핫프레스',
                    ],
                    "datasets":[
                        {
                            "data":[pro_1B, 12],
                            "backgroundColor":["rgba(255, 99, 132)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
        new Chart(document.getElementById("chart_4"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        'DSC',
                    ],
                    "datasets":[
                        {
                            "data":[pro_3A, 12],
                            "backgroundColor":["rgba(54, 162, 235)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
        new Chart(document.getElementById("chart_5"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        'GPC',
                    ],
                    "datasets":[
                        {
                            "data":[pro_3A, 12],
                            "backgroundColor":["rgba(54, 162, 235)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
        new Chart(document.getElementById("chart_6"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        'UTM',
                    ],
                    "datasets":[
                        {
                            "data":[pro_3A, 12],
                            "backgroundColor":["rgba(54, 162, 235)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
        new Chart(document.getElementById("chart_7"),
            {
                "type":"doughnut",
                "data":{
                    labels: [
                        '가교기',
                    ],
                    "datasets":[
                        {
                            "data":[pro_3A, 12],
                            "backgroundColor":["rgba(54, 162, 235)","rgba(79, 81, 81, .3)"],
                            "borderWidth": 0.3
                        }
                    ]
                }
            });
    </script>
{% endblock %}

{% block style %}
<style>
@media only screen and (min-height: 672px) {
    footer{
        position: fixed;
    }
}
</style>
{% endblock%}
