{% extends 'base.html' %}
{% load static %}

{% block script %}

    <link rel=icon href="{% static 'reservation/tmdlogo.png' %}" sizes="32x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css'%}">

{% endblock %}

{% block content %}
    <main>
            <section class="post_container">
                <h2>{{category}}</h2>
                <div id="notice" class="post">
                    {% for blog in blogs %}
                        <div class="post_items">
                            <h3><a href="{% url 'detail' blog.id %}">{{blog}}</a></h3>
                            <span>{{blog.pub_date}}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>

        </main>
        <script src="{% static 'reservation/main.js' %}"></script>
{% endblock %}