{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>티엠디랩 장비예약</title>
    <link rel=icon href="{% static 'reservation/tmdlogo.png' %}" sizes="32x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css' %}">
</head>
<body class="sign_bg">
    <header>
        <div id="signlogo">
            <h1><a href="{% url 'home' %}">티엠디랩 실험실</a></h1>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>>
</body>
{% block script %}
{% endblock %}